.content {
  position: relative;
  height: 92vh;
  width: 100%;
  background: url("../images/band.jpg"), no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include large {
    justify-content: flex-start;
  }
}

.footer-position {
  margin: pxToRem(25);

  @include large {
    margin: pxToRem(40);
  }
}
